.env
__MACOSX/._docker-compose.yml
__MACOSX/._Dockerfile
__MACOSX/._library
__MACOSX/._manage.py
__MACOSX/._README.md
__MACOSX/._requirements.txt
__MACOSX/._steamlike_backend
__MACOSX/library/.___init__.py
__MACOSX/library/._admin.py
__MACOSX/library/._apps.py
__MACOSX/library/._migrations
__MACOSX/library/._models.py
__MACOSX/library/._views.py
__MACOSX/library/migrations/.___init__.py
__MACOSX/steamlike_backend/.___init__.py
__MACOSX/steamlike_backend/._asgi.py
__MACOSX/steamlike_backend/._settings.py
__MACOSX/steamlike_backend/._urls.py
__MACOSX/steamlike_backend/._wsgi.py
Ejercicio5.md
Ejercicio1.md
